{{> adminNavBar}}


<main class="page-content">
    <div class="container-fluid">
        <div class="restaurant__form_block">
            <div class="restaurant__content">
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title">Create New Company</h5>
                        {{#if errors}}

                        {{#if errors.msg}}
                        <div class="alert alert-danger">
                            {{ errors.msg}}
                        </div>
                        {{/if }}

                        {{/if}}
                        {{#if message}}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                        {{/if }}
                        <form method="post" action="/v1/admin/register-company" id="project-submit">
                            <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="company_name">Company Name:</label>
                                        <input name="company_name" type="text" value="{{ form.company_name }}"
                                            class="form-control {{shortif errors.company_name 'is-invalid' ''}}"
                                            id="company_name" aria-describedby="company_name"
                                            placeholder="Company Name">
                                        {{#if errors.company_name}}
                                        <div class="invalid-feedback d-block">
                                            {{ errors.company_name }}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="phoneNumber">Phone Number</label>
                                        <input name="phone_no" type="text" value="{{ form.phone_no }}"
                                            class="form-control {{shortif errors.phone_no 'is-invalid' ''}}"
                                            id="phoneNumber" aria-describedby="phoneNumber"
                                            placeholder="Enter Phone Number">
                                        {{#if errors.phone_no}}
                                        <div class="invalid-feedback d-block">
                                            {{ errors.phone_no }}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Country</label>
                                        <select class="form-control  {{shortif errors.country_id 'is-invalid' ''}}"
                                            id="country_id" name="country_id" value="{{ form.country_id }}">
                                            <option value="">Select Country</option>

                                            {{#each countries }}
                                            <option value="{{ country_id }}">{{ country_name }}</option>
                                            {{/each }}

                                        </select>
                                        {{#if errors.country_id}}
                                        <div class="invalid-feedback d-block">
                                            {{ errors.country_id }}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">State</label>
                                        <select disabled=""
                                            class="form-control {{shortif errors.state_id 'is-invalid' ''}}"
                                            id="state_id" name="state_id" value="{{ form.state_id }}">
                                            <option value="">Select State</option>
                                        </select>
                                        {{#if errors.state_id}}
                                        <div class="invalid-feedback d-block">
                                            {{ errors.state_id }}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">City</label>
                                        <select disabled="" value="{{ form.city_id }}"
                                            class="form-control {{shortif errors.city_id 'is-invalid' ''}}" id="city_id"
                                            name="city_id" value="">
                                            <option value="">Select City</option>
                                        </select>
                                        {{#if errors.city_id}}
                                        <div class="invalid-feedback d-block">
                                            {{ errors.city_id }}
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>

                            </div>







                            <div class="form-group">
                                <label for="exampleInputPassword1">Domain Name</label>
                                <div class="input-group mb-3 subDomain">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">http://</span>
                                    </div>
                                    <input id="domain" value="{{ form.subdomain }}" name="subdomain"
                                        pattern="^[a-z0-9_-]*$" type="text"
                                        class="form-control {{shortif errors.subdomain 'is-invalid' ''}}"
                                        aria-label="Amount (to the nearest dollar)">
                                    <div class="input-group-append">
                                        <span class="input-group-text">.geeklone.com</span>
                                    </div>
                                </div>
                                {{#if errors.subdomain}}
                                <div class="invalid-feedback d-block">
                                    {{ errors.subdomain }}
                                </div>
                                {{/if}}
                                <div class="promp-box"><small id="message_domain" class="form-text"></small><span
                                        id="available_name"></span></div>
                                <small id="emailHelp"
                                    class="form-text text-muted subDomain">http://hammertech.geeklone.com use also used
                                    this way Allow(hammertech,smithpro)</small>
                            </div>



                            <div class="form-group">
                                <label for="exampleInputEmail1">Company Admin Name</label>
                                <input name="admin_name" value="{{ form.admin_name }}" type="text"
                                    class="form-control {{shortif errors.admin_name 'is-invalid' ''}}"
                                    id="exampleInputEmail1" aria-describedby="emailHelp" placeholder='Enter Admin Name'>
                                {{#if errors.admin_name}}
                                <div class="invalid-feedback d-block">
                                    {{ errors.admin_name }}
                                </div>
                                {{/if}}

                            </div>


                            <div class="form-group">
                                <label for="exampleInputEmail1">Admin Email Account</label>
                                <input type="email" class="form-control {{shortif errors.admin_email 'is-invalid' ''}}"
                                    id="admin_email" name="admin_email" aria-describedby="emailHelp"
                                    placeholder="Enter Admin Email Account" value="{{ form.admin_email }}">
                                {{#if errors.admin_email}}
                                <div class="invalid-feedback d-block">
                                    {{ errors.admin_email }}
                                </div>
                                {{/if}}
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <input type="password"
                                    class="form-control  {{shortif errors.admin_password 'is-invalid' ''}}"
                                    id="exampleInputEmail1" name="admin_password" aria-describedby="emailHelp"
                                    placeholder="Enter Password">
                                {{#if errors.admin_password}}
                                <div class="invalid-feedback d-block">
                                    {{ errors.admin_password }}
                                </div>
                                {{/if}}
                            </div>

                            <button type="submit" id="submit_rest" class="btn btn-primary">
                                Submit</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
</main>
{{#section 'scripts' }}
<script type="text/javascript">


    $(document).ready(function () {
        function domainChecker(value) {
            const re = /^[A-Za-z][A-Za-z0-9]*(?:_[A-Za-z0-9]+)*$/;
            $('#message_domain').text(``);

            if (re.test(value)) {
                if (value) {
                    $.ajax({
                        url: '/v1/admin/check-domain',
                        method: 'POST',
                        data: { domain: value.toLowerCase() },
                        success: function (data) {

                            $('#submit_rest').attr('disabled', false);
                            $('#message_domain').text(data.message);
                            $('#message_domain').removeClass('text-danger');
                            $('#message_domain').addClass('text-success');
                            $('#message_domain').css('font-weight', 'bold');
                            $('#domain').addClass('is-valid');
                            $('#domain').removeClass('is-invalid');
                            $('#available_name').html('');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest.responseJSON.suggestions);
                            $('#submit_rest').attr('disabled', true);
                            $('#message_domain').text(XMLHttpRequest.responseJSON.message);
                            $('#message_domain').removeClass('text-success');
                            $('#message_domain').addClass('text-danger');
                            $('#message_domain').css('font-weight', 'bold');
                            $('#domain').addClass('is-invalid');
                            $('#domain').removeClass('is-valid');
                            $('#available_name').html('');
                            XMLHttpRequest.responseJSON.suggestions.forEach(function (item) {
                                console.log(item.domain);
                                $('#available_name').append(`
                               <span class="domain_guess text-success">${item.domain}</span>
                            `);
                            })
                        }
                    })
                }
            } else {

                $('#submit_rest').attr('disabled', true);
                $('#message_domain').text(`Domain is Not Valid`);
                $('#message_domain').removeClass('text-success');
                $('#message_domain').addClass('text-danger');
                $('#message_domain').css('font-weight', 'bold');
                $('#domain').addClass('is-invalid');
                $('#domain').removeClass('is-valid');
                $('#available_name').html('');
            }
        }
        $(document).on('click', '.domain_guess', function (e) {
            var text = $(this).text();
            $('#domain').val(text);
            domainChecker(text);

        })
        $('#company_name').on('blur', async function (e) {

            if (e.target.value) {

                let value = ((e.target.value.toLowerCase().trim()).replace(/\s/g, ''));
                authenticateCompany(e.target.value)
                    .then(res => {
                        console.log(res);
                        $('#domain').val(value);
                        domainChecker(value);
                    })
                    .catch(error => {
                        console.log('error', error.responseJSON);
                    });


            }

        });
        $('#domain').on('blur', function (e) {
            domainChecker(e.target.value);
        });

        $('#country_id').on('change', (e) => {
            let value = e.target.value;
            if (value) {
                $.ajax({
                    url: "/v1/admin/states",
                    method: "post",
                    data: { country_id: value },
                    success: (data) => {
                        $('#state_id').attr('disabled', false);

                        $('#state_id  option').remove();
                        $('#state_id').append(`<option value="">Select State</option>`);

                        data.states.forEach((state, index) => {
                            $('#state_id').append(`<option value="${state.states_id}">${state.states_name}</option>`);
                        })

                    }
                })
            }
        });

        $('#state_id').on('change', (e) => {
            let value = e.target.value;
            if (value) {
                $.ajax({
                    url: "/v1/admin/cities",
                    method: "post",
                    data: { state_id: value },
                    success: (data) => {
                        $('#city_id').attr('disabled', false);

                        $('#city_id  option').remove();
                        $('#city_id').append(`<option value="">Select City</option>`);

                        data.cities.forEach((city, index) => {
                            $('#city_id').append(`<option value="${city.city_id}">${city.city_name}</option>`);
                        })

                    }
                })
            }
        });



        async function authenticateCompany(name) {
            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "/v1/admin/check-company",
                    "method": "post",
                    data: { name },
                    success: function (data) {
                        return resolve(data);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        return reject(XMLHttpRequest);

                    }
                });
            });
        }
    });
</script>

{{/section }}