{{> authNavBar}}
<style>
    .forgot {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="container">
    <div class="form__block">
        <div class="card" style="width:50%;">
            <div class="card-title">
                <h4 class="text-center">{{trans 'forgotPassword.label'}}</h4>

            </div>

            <form method="post" action="admin-password-reset-email">
                <div class="card-body">
                    {{#if message}}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {{/if }}
                    {{#if errors }}
                    {{#each errors }}
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}
                    </div>
                    {{/each }}
                    {{/if }}
                    <div class="form__content">
                        <div class="form-group">
                            <label>{{trans 'email.label'}}</label>
                            <input class="form-control" type="email" required="" value="{{form.email}}" name="email" />
                        </div>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{trans 'sendRecoveryEmail'}}</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>