{{> authNavBar}}
<style>
    .forgot {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: 992px) {
        .card {
            width: 100% !important;
        }
    }
</style>

<div class="container">
    <div class="form__block">
        <div class="card" style="width:50%;">
            <div class="card-title">
                <h4 class="text-center">Login</h4>

            </div>

            <form method="post" action="/v1/auth/authenticate-user">
                <div class="card-body">
                    {{#if errors}}

                    {{#if errors.msg}}
                    <div class="alert alert-danger">
                        {{ errors.msg}}
                    </div>
                    {{/if }}

                    {{/if}}
                    {{#if message}}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {{/if }}
                    <div class="form__content">
                        <div class="form-group">
                            <input type="hidden" name="_csrf" value="{{ csrf_token }}" />
                            <label>Email</label>
                            <input class="form-control {{shortif errors.email 'is-invalid' ''}}" type=" email"
                                required="" value="{{form.email}}" name="email" />
                            {{#if errors.email}}
                            <div class="invalid-feedback d-block">
                                {{ errors.email }}
                            </div>
                            {{/if}}
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input minlength="8" type="password"
                                class="form-control {{shortif errors.email 'is-invalid' ''}}" required=""
                                name="password" />
                            {{#if errors.password}}
                            <div class="invalid-feedback d-block">
                                {{ errors.password }}
                            </div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="forgot">
                        <a href="/v1/forgot-password" class="btn btn-link text-right">forgot Password?</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>