{{> authNavBar}}
<style>
    .forgot {
        display: flex;
        justify-content: space-between;
    }
</style>
<div class="container">
    <div class="form__block">
        <div class="card" style="width:50%;">
            <div class="card-title">
                <h4 class="text-center">{{trans 'newPassword'}}</h4>

            </div>

            <form method="post" action="admin-password-reset">
                <input type="hidden" value="" id="Id" class="form-control" name="id" />
                <input type="hidden" value="" id="token" class="form-control" name="token" />

                <div class="card-body">
                    {{#if message}}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                    {{/if }}
                    {{#if errors }}
                    {{#each errors }}
                    <div class="alert alert-danger" role="alert">
                        {{ msg }}
                    </div>
                    {{/each }}
                    {{/if }}
                    <div class="form__content">
                        <div class="form-group">
                            <label>{{trans 'password.label' }}</label>
                            <input minlength="8" type="password" class="form-control" required="" name="password" />
                        </div>

                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">{{trans "submit"}}</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    var url_string = window.location.href; //window.location.href
    var url = new URL(url_string);
    var id = url.searchParams.get("id");
    var token = url.searchParams.get("token");

    document.getElementById('Id').value = id;
    document.getElementById('token').value = token;

</script>